.badge{
    width: 25px;
    height:25px;
    background-color: #fff;
    color: #000;
    border-radius: 25px;
    font-size: normal;
}

.navbar-brand, .nav-link{
    color: #fff !important;
}
.navbar-brand{
    font-size: 20px;
}

.parent{
    font-size:20px;
}

/* relative font size */
.child{
    font-size: 1em;
}