/* external */
/* least priority */
/* selectors
    element or tag
    id
    class
    border
*/

body {
    margin: 0;
    padding:0;
    font-family: Helvetica, 'Segoe UI', 'arial';
}

#home {
    color: yellow; 
}

.menu-item { 
    width:80px;
    height:30px;
    list-style-type:none;
    display: inline-block;
    /* border:1px solid black; */
    /* top bottom left and right */
    /* ctrl + / */
    /* margin-left: 10px;
    margin-top: 10px; */
    /* margin-bottom: 10px;
    margin-right: 10px; */
    /* margin:10px ; */
    /* CTRL + / */
    margin: 5px 0 0 5px;
}

.menu-item a {
    text-decoration:none;
    color: #fff;
}

.items{
    text-align: right;
    margin:7px;
}

#mydiv {
    width: 200px;
    height: 200px;
    border: 1px solid grey;
    margin-top:10px;
    padding: 30px 0 0 10px;
    outline:1px solid limegreen;
}

.title{
    float: left;
    margin:6px;
    font-size: 20px;
    font-weight:lighter;
    text-transform: uppercase;
}

.menu{
    width:100%;
    background-color: rgba(0, 20, 20, 0.5);
    margin:0px;
}

.title{
    color: rgba(255,255,255,0.8);
}

.frm{
    margin: 10px;
}

.text-box{
    height: 25px;
    border:none;
    border-bottom: 1px solid grey;
    font-size: medium;
}

button{
   border:none;
   width: 100px;
   height: 25px;
   text-transform: uppercase; 
   background-color:limegreen;
}


/* eclipse */
/*  R G B  */
/* 0-255 */
/* 0 1 base 2*/
/* 0-9 base 10 */
/* 0-15 0,1,2,9,a,b,c,d,e,f base 16 */